:host {
  .loginForm {
    width: 300px;
    margin: 300px auto 0 auto;
    display: grid;
    grid-template-rows: repeat(4, 30px);
    grid-template-columns: 300px;
    row-gap: 30px;
  }

  .btnLogin {
    height: 40px;
  }

  .spinner {
    position: absolute;
    z-index: 10;
    align-items: center;
  }
}