<form [formGroup]="loginForm" (ngSubmit)="login()" class="loginForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>
  <button mat-flat-button color="primary" class="btnLogin" [disabled]="!loginForm.valid">Login</button>
  <!-- <div [hidden]="isVisible">
    <mat-spinner class="spinner" diameter="60"></mat-spinner>
  </div> -->
</form>