<h3>Payable Info</h3>

<mat-card class="form-container card-top-border">
  <mat-card-content>
    <form [formGroup]="payableForm" class="payableForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="amount">
      </mat-form-field>
      <button mat-flat-button color="primary" [disabled]="!payableForm.valid">Add Payable</button>
    </form>
  </mat-card-content>
</mat-card>