<h3>Log Savings</h3>

<mat-card class="form-container card-top-border">
  <mat-card-content>
    <form [formGroup]="savingsForm" class="savings-form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>
      <input type="date" formControlName="depositDate">
      <button mat-flat-button color="primary" [disabled]="!savingsForm.valid">Log Savings</button>
    </form>
  </mat-card-content>
</mat-card>