:host {
  .logPayable-container {
    width: 400px;
  }

  .logPayableForm {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }

  .from-label, .to-label {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 5px;
  }

  .month1, .month2 {
    grid-column: 1;
    grid-row: 2;
  }

  .year1, .year2 {
    grid-column: 3;
    grid-row: 2;
  }
}