<h3>Log Payable</h3>

<mat-card class="logPayable-container card-top-border">
  <mat-card-content>
    <form [formGroup]="logPayableForm" class="logPayableForm">
      <mat-form-field>
        <mat-label>Select Payable</mat-label>
        <mat-select [(ngModel)]="selectedItem" formControlName="payable">
          <mat-option *ngFor="let item of items" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="selectedItem == 'Pag-Ibig' || selectedItem == 'SSS'">
        <div class="two-rows-form-container">
          <div class="inner-rows-container">
            <div class="from-label">
              <mat-label>From</mat-label>
            </div>
            <div class="month1">
              <mat-form-field>
                <mat-select formControlName="payableFromMonth1" placeholder="Month">
                  <mat-option *ngFor="let month of months" [value]="month">
                    {{month}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="year1">
              <mat-form-field>
                <mat-select formControlName="payableToYear1" placeholder="Year">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="inner-rows-container">
            <div class="to-label">
              <mat-label>To</mat-label>
            </div>
            <div class="month2">
              <mat-form-field>
                <mat-select formControlName="payableFromMonth2" placeholder="Month">
                  <mat-option *ngFor="let month of months" [value]="month">
                    {{month}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="year2">
              <mat-form-field>
                <mat-select formControlName="payableToYear2" placeholder="Year">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="amount">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mode of Payment</mat-label>
        <input type="text" matInput formControlName="modeOfPayment">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Reference No.</mat-label>
        <input type="text" matInput formControlName="referenceNo">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="logPayable()" [disabled]="!logPayableForm.valid">Log Payable</button>
    </form>
  </mat-card-content>
</mat-card>