.form-container {
  width: 360px;
}

.card-top-border {
  border-top: 5px solid #36f;
}

.two-column-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.inner-columns-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.two-rows-form-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.inner-rows-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 5px;
}