<nb-layout>
  <nb-sidebar>
    <nb-menu [items]="items">
    </nb-menu>
    <button mat-flat-button (click)="logout()" color="primary" class="btnLogout">Logout</button>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>